.projects-container {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	place-items: center;
	position: absolute;
    text-align: center;
	top: 55%;
	left: 50%;
  	transform: translate(-50%, -50%);
    width: 100vw;
}

.project {
    background: rgba(147, 144, 144, 0.407);
    width: 22rem;
    height: 24rem;
    border-radius: 1rem;
}

.project-img {
    width: 15em;
    height: 10rem;
    overflow: hidden;
    padding-top: 1rem;
}

.project-title{
    margin: 5px;
    text-align: center;
}

.project-content{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 5rem;
}

.project-text{
    margin: 0px;
    padding: 5px;
}

.project-links {
    text-align: center;
    padding: 5px;
    margin-top: 17%;
}
.btn-github{
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
    margin-right: 20px;
}

.btn-video{
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #141313;
    cursor: pointer;
    z-index: 1;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
}
/* 
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 23em;
    }
} */
.btn-video::after,
.btn-video::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.btn-video::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #c6c6d1;
  border-radius: 10px;
}

.btn-video::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #3f353536;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.btn-video:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.btn-video:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.btn-video:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.btn-github::after,
.btn-github::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.btn-github::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.btn-github::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.btn-github:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.btn-github:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.btn-github:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}