.projects-container {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	place-items: center;
	position: absolute;
    text-align: center;
	top: 55%;
	left: 50%;
  	transform: translate(-50%, -50%);
    width: 100vw;
}

.project {
    background: rgba(147, 144, 144, 0.407);
    width: 22rem;
    height: 24rem;
    border-radius: 1rem;
}

.project-img {
    width: 15em;
    height: 10rem;
    overflow: hidden;
    padding-top: 1rem;
}

.project-title{
    margin: 5px;
    text-align: center;
}

.project-content{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 5rem;
}

.project-text{
    margin: 0px;
    padding: 5px;
}

.project-links {
    text-align: center;
    padding: 5px;
    margin-top: 20%;
    
}
.btn-github{
    display: flex;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
}

.btn-video{
    background-color: #fbf6f6;
    border: 2px solid #f7f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #0b0a0a;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 7rem;
    height: 2rem;
    margin: 5px;
}
/* 
@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 23em;
    }
} */



.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}