.skills {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 18rem;
	place-items: center;
	text-align: center;
	border-radius: 10px;
	margin: 0;
	position: absolute;
	top: 55%;
	left: 50%;
  	transform: translate(-50%, -50%);
	width: 50%;
}

.title-skills{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 25%;
	top:20%
}
.skill-img{
	height: 5rem;
	width: 5rem;
}