
.about-container{
	position: absolute;
	top: 50%;
	transform: translate(0, -40%);
	padding: 10px;
	
}

.about {
	width: 50rem;
	top: 50%;
	margin-left: 35%;
}

.title{
	margin: 0px;
}

.subtitle{
	margin-left: 5%;
}

.text {
	margin-left: 5%;
}

.social-links {
	margin: auto;
	width: fit-content;
	padding-top: 2rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.link {
	color: black;
	height: 50rem;
}

.link-btn {
	width: fit-content;
	height: 1.5rem;
	margin-top: 10px;
}




