
.about-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.about {
	width: 50rem;
}

.title{
	margin: 0px;
}

.subtitle{
	margin-left: 5%;
}

.text {
	margin-left: 5%;
}

.social-links {
	display: block;
	flex-direction: row;
	text-align: center;
}

.link {
	color:	white;
	padding-left: 5rem;
	padding-right: 5rem;
	text-decoration: none;
}

.link-btn {
	width: fit-content;
	height: 1.5rem;
	margin-top: 10px;
}




