nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color4);
  font-size: 1.1rem;
  text-decoration: none;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color3);
  color: var(--color5);
}

.me {
  top: 1.5rem;
  left: 15%;
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 3rem;
}
