nav {
  background: rgba(242, 234, 234, 0.3);
  width: max-content;
  display: block;
  /* padding: 0.7rem 1.7rem; */
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
  display: flex;
  gap: 0.3rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.2);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  display: flex;
  color: var(--color4);
  font-size: .9rem;
  text-decoration: none;
}

nav a:hover {
  color: aquamarine;
}

nav a.active {
  background: var(--color3);
  color: aquamarine;
}

