nav {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  /* padding: 0.7rem 1.7rem; */
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
  display: flex;
  /* gap: 0.3rem; */
  border-radius: 3rem;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  display: flex;
  color: white;
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

nav a.active {
  color: black;
}

