.me {
	top: .75rem;
	position: fixed;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 3rem;
	left: 15%;
}

.crop{
	background-color: white;
	margin-left: 4rem;
	margin-right: 4rem;
	height: 35.5rem;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(212,212,212,1);
	-moz-box-shadow: 0px 0px 1px 0px rgba(212,212,212,1);
	box-shadow: 0px 0px 1px 0px rgba(212,212,212,1);
}
body {
	background-color: #F8F9F9;
	margin: 0px;
}
